{% extends 'layout.html' %}
{% block content %}
<div class="container admin">
    <div class="list-group">
        <a href="/admin/post" class="list-group-item">New Post</a>
        <a href="/admin/infobox" class="list-group-item">New Infobox</a>
        <a href="/admin/post/index" class="list-group-item">Modify Posts</a>
    </div>
    <div class="list-group">
    {% for name, content in infoboxes %}
        <a href="/admin/infobox/{{ name }}" class="list-group-item">{{ name }}</a>
    {% endfor %}
    </div>
</div>
{% endblock content %}
