{% extends 'tool.html' %}
{% block tool %}
<div class="alert alert-success" style="display: none;" id="mb">
    <strong>Success!</strong>
    <a href="../../">View your post</a>
</div>
<div class="container admin">
    <form action="post" method="post" class="form-post">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" class="form-control" id="content" rows="20"></textarea>
        </div>
        <div class="buttons">
            <button id="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="submit" type="submit">Submit</button>
            <button id="preview" class="btn btn-lg btn-block" name="preview" value="preview">Preview</button>
        </div>
    </form>
</div>
<script src="/js/form.js"></script>
<script src="/js/admin-post.js"></script>
{% endblock %}
