<div class="panel panel-default">
    <div class="panel-body guidelines">
        <strong>Guidelines</strong>
        <ul>
            <li>At the beginning of each week, <strong>pick a song to improv</strong> over.</li>
            <li>Practice with it however you like, in an attempt to see what works and what doesn't.</li>
            <li><strong>Do not rehearse any part of the solo note-for-note.</strong></li>
            <li><strong>Do not write anything down.</strong></li>
            <li>On the last day of the week, <strong>record</strong> an improvised solo over it.</li>
            <li><strong>No editing allowed</strong>, except for trimming blank parts at the start and end. <strong>One take only.</strong></li>
            <li><strong>Analyze</strong> the overdubbed song and the process itself.</li>
            <li>On completion, pick a new song and start over.</li>
        </ul>
    </div>
</div>
