{% macro post(id, title, content, created, modified, show_comments_link) %}
<div class="panel panel-default post">
    <div class="panel-heading post-heading">
        <h3 class="panel-title post-title">{{ title }} </h3>
        <h3 class="panel-title date-created">{{ created|date('F jS, Y', 480) }}</h3>
    </div>
    <div class="panel-body post-body">
        {% autoescape false %}
        {{ content|marked }}
        {% endautoescape %}
        {% if show_comments_link %}
        <div class="view-comments">
            <a href="/post/{{ id }}?context=1#disqus_thread">View comments</a>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}
