<div class="inner-sidebar">
    <div class="panel panel-default">
        <img class="profile" alt="My Photo" src="/images/photo.jpg" />
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                Sharpfret is a challenge in musical improvisation combined with an exercise in the language of writing.
                I must play guitar over a different backing track each week and write my
                thoughts about the final product in a meticulous fashion.
            </p>
            <p>
                My goals are many, and I would hate to try to be verbose about it so early in this blog's lifetime.
                The main thing here is that it serves as a timeline in how I mature musically (and in writing capability).
            </p>
        </div>
    </div>
</div>
